<h2> User info </h2>
<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
<table>
  <tbody>
    <tr>
      <th>name</th>
      <th><%= @user.name %></th>
    </tr>
    <tr>
      <th>introduction</th>
      <th><%= @user.introduction %></th>
    </tr>
  </tbody>
</table>

  <% if @user.id == current_user.id %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
  <% end %>


<h1>NewBook</h1>
<%= form_with model: @book, local:true do |f| %>
  <h4>Title</h4>
  <%= f.text_field :title %>
  <h4>Opinion</h4>
  <%= f.text_field :body %>
  <%= f.submit 'Create Box' %>
<% end %>

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
      <p>title：<%= book.title %></p>
  <% end %>
  <p>Opinion：<%= book.body %></p>
</div>
<% end %>
